<span class="error-message">{{ error_message.get("captcha", "") }}{{ "<br/>"|safe if error_message.get("captcha") }}</span>

<b>jan seme li mama pi toki pona?</b> <br/>
<p>- jan <input type="text" name="mama" size="5" maxlength="5" required placeholder="Nimi" autocomplete="off" /> (ni li nimi sina ala a!)</p>
<b>sitelen ni li seme?</b> <br/>
<input type="hidden" name="session_id" value="{{ session_id }}" />
<input type="hidden" name="challenge" value="{{ challenge }}" />
<img src="/sitelen/{{ session_id }}/{{ challenge }}" width="240" height="240"/><br/>
- <select name="sitelen" required>
	<option value="" selected disabled hidden>(o anu!)</option>
	<option value="kala">kala</option>
	<option value="kasi">kasi</option>
	<option value="kili">kili</option>
	<option value="kiwen">kiwen</option>
	<option value="len">len</option>
	<option value="lipu">lipu</option>
	<option value="luka">luka</option>
	<option value="mani">mani</option>
	<option value="mun">mun</option>
	<option value="noka">noka</option>
	<option value="pan">pan</option>
	<option value="pipi">pipi</option>
	<option value="poki">poki</option>
	<option value="soweli">soweli</option>
	<option value="tomo">tomo</option>
	<option value="waso">waso</option>
</select>
</p>
